<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Add</title>
</head>
<body>
<a href="/">main</a>
<form action="/students/addStudent" method="post">
    <label for="name" class="form-label">name</label>
    <input type="text" id="name" name="name">
    <label for="surname" class="form-label">surname</label>
    <input type="text" id="surname" name="surname">
    <label for="email" class="form-label">email</label>
    <input type="email" id="email" name="email">
    <button type="submit">save</button>
</form>
</body>
</html>